@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

// base styles
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #222;
  text-align: center;
  margin:0;
}
// Typography
h1, h2, p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}
a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}

// header section
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #e55d87;
}

.title {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 2rem;
  max-width: 960px;
  text-align: center;
}
.title h1 {
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.85;
  margin-bottom: 28px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.title h2 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
}
.title p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 150%;
}
// grid
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.main_nav {
  position: fixed;
  top: 0px;
  max-height: 50px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}
@media only screen and (max-width: 766px) {
.main_nav {
  padding-top: 25px;
}
}
.open-nav {
  max-height: 400px !important;
}
.sticky {
  background-color: #ffffff;
  opacity: 1;
  top: 0px;
}
nav {
  width: 100%;
  margin-top: 5px;
}

@media only screen and (max-width: 766px) {
nav {
  width: 100%;
}
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
}

@media only screen and (max-width: 766px) {
nav ul {
  padding-top: 0px;
  margin-bottom: 22px;
  text-align: center;
  width: 100%;
}
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
nav ul li {
  width: 100%;
  padding: 7px 0;
  margin: 0;
}
nav ul li:first-child {
  margin-top: 70px;
}
}
nav ul a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
nav ul a:hover {
  color: #CFCFCF;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
}

 // about section
section{
  display: block;
  padding: 100px 0;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

// portfolio section
#portfolio {
  background-color: #ECF0F1; }
  #portfolio h2 {
    padding-bottom: 1.25em; }

// Contact Section
#contact {
  padding: 100px 0 100px 0;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
}
textarea {
  min-height: 250px;
}
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background: #5fc3e4;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background: #e55d87;
  text-decoration: none;
}
// Footer Section
footer {
  min-height: 120px;
  padding: 40px 0 40px 0;
  background: #e55d87;
}
footer p {
  color: #FFFFFF;
  margin: 20px 0 0 0;
}
.socialIcons {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.7);
}
/* Lists
********************************************************************* */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
/* Spacing
********************************************************************* */
button, .button {
  margin-bottom: 1rem;
}
input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem;
}
/* Utilities
********************************************************************* */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
/* Clearing
********************************************************************* */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}




