<!-- header section -->
<html>
  <head id="header">
    <meta charset="utf-8">
    <title>Welcome to my website.</title>
    <meta name="description" content="web developer..">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/site.css.scss">
    <div class="main-nav">
      <div class="container">
        <div class="mobile-toggle"><span></span><span></span><span></span></div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a class="smoothscroll" href="#projects">Projects</a></li>
          <li><a class="smoothscroll" href="#contact">Contact</a></li>
        </ul>
      </nav>
      </div>
    </div>
  <!--   <div class="title">
      <h1>Ting Ting</h1>
      <h2>Welcome to my website</h2>
      <a class="smoothscroll" href="#about">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      </a>
    </div> -->
  </head>
  <!-- about section -->
  <body>
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h1>About</h1>
            <h2 class="heading">Brief Introduction</h2>
            <p>I'm ...</p>
            <a class="btn" href="https://uptowork.com/app/cv/f75e938a-bcb9-410c-bd27-cdc53753c2dd#preview">Resume</a>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio section -->
    <section class="row-cover" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
             <h1>Projects</h1>
             <h2>Tabzilla</h2>
             <p>Help users manage excessive chrome tabs.</p>
             <p>Uses:Javacript, HTML, CSS</p>
             <a class="btn" href="http://www.tabzilla.life/">View Project</a>
          </div>
          <div class="col-sm-6">
            <img src="" alt="project-image">
          </div>
        </div>
      </div>
    </section>
    <!-- contact section -->
    <section id="contact">
      <div class="container">
        <h1>Contact</h1>
        <form>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <label for="input">Name</label>
              <input class="u-full-width" type="text">
            </div>
            <div>
              <label for="input">Email</label>
              <input class="u-full-width" type="email">
            </div>
          </div>
          <div class="row">
            <label for="message">Message</label>
            <textarea class="u-full-width"></textarea>
            <input class="button-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section>
    <!-- footer section -->
    <footer>
      <div class="container">
        <p>Created with love by Ting</p>
        <div class="social default">
              <a href="https://github.com/JiantingZhang"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/jianting-zhang-2820b5135/"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
